<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sumário de dados filmes</h1>
    <div>{{ resumo|safe }}</div>
    <br>
    <div>{{ resumo_head|safe }}</div>
    <br>
    <ul>
        <li><a href="/plot1">Distribuição das avaliações dos Filmes</a></li>
        <li><a href="/plot2">Box Plot das avaliações por Gênero</a></li>
        <li><a href="/plot3">Relação entre votos, avaliação, e duração dos filmes</a></li>
    </ul>
</body>
</html>